<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Pet</title>
    <link href="{{ url_for('static', filename='mystyle.css')}}" rel="stylesheet">
    <script>
      function confirmDelete(petId) {
          var confirmation = confirm('Are you sure you want to delete this pet?');
          if (confirmation) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/delete_pet/' + petId;
            // Append the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
          }
      }
    </script>
</head>
<body>
    <div class="topnav">
        {% if user_authenticated == "" %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        {% elif user_authenticated == "admin" %}
            <a href="/">Home</a>
            <a href="/add_pet">Add Pet</a>
            <a class="active" href="/delete_pet/0">Delete Pet</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a class="active" href="/">Home</a>
            <a href="/logout">Logout</a>
        {% endif %}
    </div>
    <div class="image-container">
    {% for pet in pets %}
        <a href="#" style="position: relative; display: inline-block; margin: 5px;">
            <img src="{{ pet.photo }}">
            <div class="delete-icon" onclick="confirmDelete('{{ pet.id }}')">🗑️</div>
        </a>
    {% endfor %}
</div>
</body>
</html>
